src/main/resources/WSDL/HardToken.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="http://interfaces.appserversoapws.vu/" xmlns:tns="http://interfaces.appserversoapws.vu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://interfaces.appserversoapws.vu/" schemaLocation="HardToken.xsd"/>
    </xsd:schema>
  </types>
  <message name="totpHardTokenUnassign">
    <part name="parameters" element="tns:totpHardTokenUnassign"/>
  </message>
  <message name="totpHardTokenUnassignResponse">
    <part name="parameters" element="tns:totpHardTokenUnassignResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="tns:ServiceException"/>
  </message>
  <message name="totpHardTokenDel">
    <part name="parameters" element="tns:totpHardTokenDel"/>
  </message>
  <message name="totpHardTokenDelResponse">
    <part name="parameters" element="tns:totpHardTokenDelResponse"/>
  </message>
  <message name="totpUsersUnassign">
    <part name="parameters" element="tns:totpUsersUnassign"/>
  </message>
  <message name="totpUsersUnassignResponse">
    <part name="parameters" element="tns:totpUsersUnassignResponse"/>
  </message>
  <message name="totpUsersLogin">
    <part name="parameters" element="tns:totpUsersLogin"/>
  </message>
  <message name="totpUsersLoginResponse">
    <part name="parameters" element="tns:totpUsersLoginResponse"/>
  </message>
  <message name="totpHardTokenUnlock">
    <part name="parameters" element="tns:totpHardTokenUnlock"/>
  </message>
  <message name="totpHardTokenUnlockResponse">
    <part name="parameters" element="tns:totpHardTokenUnlockResponse"/>
  </message>
  <message name="totpHardTokenAdd">
    <part name="parameters" element="tns:totpHardTokenAdd"/>
  </message>
  <message name="totpHardTokenAddResponse">
    <part name="parameters" element="tns:totpHardTokenAddResponse"/>
  </message>
  <message name="totpHardTokenLock">
    <part name="parameters" element="tns:totpHardTokenLock"/>
  </message>
  <message name="totpHardTokenLockResponse">
    <part name="parameters" element="tns:totpHardTokenLockResponse"/>
  </message>
  <message name="totpHardTokenAssign">
    <part name="parameters" element="tns:totpHardTokenAssign"/>
  </message>
  <message name="totpHardTokenAssignResponse">
    <part name="parameters" element="tns:totpHardTokenAssignResponse"/>
  </message>
  <portType name="HardToken">
    <operation name="totpHardTokenUnassign">
      <input message="tns:totpHardTokenUnassign"/>
      <output message="tns:totpHardTokenUnassignResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpHardTokenDel">
      <input message="tns:totpHardTokenDel"/>
      <output message="tns:totpHardTokenDelResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpUsersUnassign">
      <input message="tns:totpUsersUnassign"/>
      <output message="tns:totpUsersUnassignResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpUsersLogin">
      <input message="tns:totpUsersLogin"/>
      <output message="tns:totpUsersLoginResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpHardTokenUnlock">
      <input message="tns:totpHardTokenUnlock"/>
      <output message="tns:totpHardTokenUnlockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpHardTokenAdd">
      <input message="tns:totpHardTokenAdd"/>
      <output message="tns:totpHardTokenAddResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpHardTokenLock">
      <input message="tns:totpHardTokenLock"/>
      <output message="tns:totpHardTokenLockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="totpHardTokenAssign">
      <input message="tns:totpHardTokenAssign"/>
      <output message="tns:totpHardTokenAssignResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
</definitions>