src/main/resources/WSDL/UsersOOB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.--><definitions targetNamespace="http://interfaces.appserversoapws.vu/" xmlns:tns="http://interfaces.appserversoapws.vu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://interfaces.appserversoapws.vu/" schemaLocation="UsersOOB.xsd"/>
    </xsd:schema>
  </types>
  <message name="smsUnlock">
    <part name="parameters" element="tns:smsUnlock"/>
  </message>
  <message name="smsUnlockResponse">
    <part name="parameters" element="tns:smsUnlockResponse"/>
  </message>
  <message name="ServiceException">
    <part name="fault" element="tns:ServiceException"/>
  </message>
  <message name="smsDelete">
    <part name="parameters" element="tns:smsDelete"/>
  </message>
  <message name="smsDeleteResponse">
    <part name="parameters" element="tns:smsDeleteResponse"/>
  </message>
  <message name="usersStatus">
    <part name="parameters" element="tns:usersStatus"/>
  </message>
  <message name="usersStatusResponse">
    <part name="parameters" element="tns:usersStatusResponse"/>
  </message>
  <message name="loginRegistration">
    <part name="parameters" element="tns:loginRegistration"/>
  </message>
  <message name="loginRegistrationResponse">
    <part name="parameters" element="tns:loginRegistrationResponse"/>
  </message>
  <message name="loginLogin">
    <part name="parameters" element="tns:loginLogin"/>
  </message>
  <message name="loginLoginResponse">
    <part name="parameters" element="tns:loginLoginResponse"/>
  </message>
  <message name="loginLock">
    <part name="parameters" element="tns:loginLock"/>
  </message>
  <message name="loginLockResponse">
    <part name="parameters" element="tns:loginLockResponse"/>
  </message>
  <message name="loginUnlock">
    <part name="parameters" element="tns:loginUnlock"/>
  </message>
  <message name="loginUnlockResponse">
    <part name="parameters" element="tns:loginUnlockResponse"/>
  </message>
  <message name="loginDelete">
    <part name="parameters" element="tns:loginDelete"/>
  </message>
  <message name="loginDeleteResponse">
    <part name="parameters" element="tns:loginDeleteResponse"/>
  </message>
  <message name="loginChangePassword">
    <part name="parameters" element="tns:loginChangePassword"/>
  </message>
  <message name="loginChangePasswordResponse">
    <part name="parameters" element="tns:loginChangePasswordResponse"/>
  </message>
  <message name="loginStatus">
    <part name="parameters" element="tns:loginStatus"/>
  </message>
  <message name="loginStatusResponse">
    <part name="parameters" element="tns:loginStatusResponse"/>
  </message>
  <message name="smsRegistration">
    <part name="parameters" element="tns:smsRegistration"/>
  </message>
  <message name="smsRegistrationResponse">
    <part name="parameters" element="tns:smsRegistrationResponse"/>
  </message>
  <message name="smsLock">
    <part name="parameters" element="tns:smsLock"/>
  </message>
  <message name="smsLockResponse">
    <part name="parameters" element="tns:smsLockResponse"/>
  </message>
  <message name="smsSend">
    <part name="parameters" element="tns:smsSend"/>
  </message>
  <message name="smsSendResponse">
    <part name="parameters" element="tns:smsSendResponse"/>
  </message>
  <message name="smsSendDownloadURL">
    <part name="parameters" element="tns:smsSendDownloadURL"/>
  </message>
  <message name="smsSendDownloadURLResponse">
    <part name="parameters" element="tns:smsSendDownloadURLResponse"/>
  </message>
  <message name="smsLogin">
    <part name="parameters" element="tns:smsLogin"/>
  </message>
  <message name="smsLoginResponse">
    <part name="parameters" element="tns:smsLoginResponse"/>
  </message>
  <message name="loginChangePasswordHash">
    <part name="parameters" element="tns:loginChangePasswordHash"/>
  </message>
  <message name="loginChangePasswordHashResponse">
    <part name="parameters" element="tns:loginChangePasswordHashResponse"/>
  </message>
  <message name="loginRegistrationHash">
    <part name="parameters" element="tns:loginRegistrationHash"/>
  </message>
  <message name="loginRegistrationHashResponse">
    <part name="parameters" element="tns:loginRegistrationHashResponse"/>
  </message>
  <message name="loginSaltID">
    <part name="parameters" element="tns:loginSaltID"/>
  </message>
  <message name="loginSaltIDResponse">
    <part name="parameters" element="tns:loginSaltIDResponse"/>
  </message>
  <message name="loginLoginHash">
    <part name="parameters" element="tns:loginLoginHash"/>
  </message>
  <message name="loginLoginHashResponse">
    <part name="parameters" element="tns:loginLoginHashResponse"/>
  </message>
  <portType name="UsersOOB">
    <operation name="smsUnlock">
      <input message="tns:smsUnlock"/>
      <output message="tns:smsUnlockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="smsDelete">
      <input message="tns:smsDelete"/>
      <output message="tns:smsDeleteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="usersStatus">
      <input message="tns:usersStatus"/>
      <output message="tns:usersStatusResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginRegistration">
      <input message="tns:loginRegistration"/>
      <output message="tns:loginRegistrationResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginLogin">
      <input message="tns:loginLogin"/>
      <output message="tns:loginLoginResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginLock">
      <input message="tns:loginLock"/>
      <output message="tns:loginLockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginUnlock">
      <input message="tns:loginUnlock"/>
      <output message="tns:loginUnlockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginDelete">
      <input message="tns:loginDelete"/>
      <output message="tns:loginDeleteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginChangePassword">
      <input message="tns:loginChangePassword"/>
      <output message="tns:loginChangePasswordResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginStatus">
      <input message="tns:loginStatus"/>
      <output message="tns:loginStatusResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="smsRegistration">
      <input message="tns:smsRegistration"/>
      <output message="tns:smsRegistrationResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="smsLock">
      <input message="tns:smsLock"/>
      <output message="tns:smsLockResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="smsSend">
      <input message="tns:smsSend"/>
      <output message="tns:smsSendResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="smsSendDownloadURL">
      <input message="tns:smsSendDownloadURL"/>
      <output message="tns:smsSendDownloadURLResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="smsLogin">
      <input message="tns:smsLogin"/>
      <output message="tns:smsLoginResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginChangePasswordHash">
      <input message="tns:loginChangePasswordHash"/>
      <output message="tns:loginChangePasswordHashResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginRegistrationHash">
      <input message="tns:loginRegistrationHash"/>
      <output message="tns:loginRegistrationHashResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginSaltID">
      <input message="tns:loginSaltID"/>
      <output message="tns:loginSaltIDResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
    <operation name="loginLoginHash">
      <input message="tns:loginLoginHash"/>
      <output message="tns:loginLoginHashResponse"/>
      <fault message="tns:ServiceException" name="ServiceException"/>
    </operation>
  </portType>
</definitions>